* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #56CCF2;
	/* fallback for old browsers */
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(#2F80ED), to(#56CCF2));
	background: linear-gradient(to right, #2F80ED, #56CCF2);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Roboto', sans-serif;
	
}
h2,h3{
	font-family: 'Roboto Condensed', sans-serif;
}
header .logo {
	height: 60px;
	width: 60px;
	background-color: black;
	color: aliceblue;
	font-size: 1.4em;
	line-height: 60px;
	text-align: center;
	-webkit-animation: logo 1.5s 1s infinite;
	animation: logo 2.5s 1s infinite ease-in-out;
}
.aside{
	height: 260px;
	width: 220px;
	background-color: black;
	color: aliceblue;
	font-size: 1.4em;
	line-height: 60px;
	text-align: center;
}

@-webkit-keyframes logo{
	0%{
		background-color: black;
	}
	50%{
		background-color: #1c3381;
	}
}

@keyframes logo{
	0%{
		background-color: black;
	}
	50%{
		background-color: #1c3381;
	}
}
.flex{
	padding: 15px;
	color: #fff;
	font-weight: bold;
	font-size: 1.4em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	
}
h1{
	padding: 10px;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:;
	flex-direction:
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	/* Flex */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

header {
	background: rgb(42, 42, 42);
	width: 100%;
	padding: 20px;
	margin-top: 10px;
	/*flex*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	/* separa los contenidos en iz y der*/
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	
}
header nav {
	width: 50%;
	/*flex*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	
}
header h4 a{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #fff;
	text-decoration: none;
	
}
header nav a{
	color: #fff;
	background:#e87335;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	-webkit-transition: 0.3s;
	-webkit-transition: 0.7s;
	transition: 0.7s;	
	/*flex*/
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;/*Que cubra todo el 100%*/	

}
header nav a:hover{
	background: #efa37b;
}
.main{
	margin-top: 10px;
	margin-bottom: 10px;
	background: #fff;
	padding: 20px;
	/*flex*/
	-webkit-box-flex: 1;
	-ms-flex: 1 1 70%;
	flex: 1 1 70%;
	
}
.main article{
	margin-top: 10px;
	padding-bottom: 20px;
	border-bottom: 3px solid #000;
}
.main article:nth-last-child(1){
	margin-top: 10px;
	padding-bottom: 0;
	border-bottom: none;
}
aside{
	margin-top: 10px;
	margin-bottom: 10px;
	background: rgb(42, 42, 42);
	padding: 20px;
	/*flex*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 1 1 30%;
	flex: 1 1 30%;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
aside .aside{
	width: 200px;
	height: 200px;
	line-height: 200px;
	font-size: 4em;
	
}


footer{
	background: rgb(42, 42, 42);
	height:auto;
	width: 100%;
	padding: 20px;
	/*Flex*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.foot{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.autor{
	width: 100%;
	margin: 10px;
	color: #fff;
	margin-bottom: -10px;;
	display: -webkit-box;;
	display: -ms-flexbox;;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
footer .links{
	
	background: #c0392b;
	/*flex*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
}
footer .links a{
	padding: 10px;
	width: 50%;
	text-decoration: none;
	color: #ffF;
	-webkit-transition: .4s;
	transition: .4s;
	/*flex*/
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	text-align: center;
}
footer  .links a:hover{
	background: #e35445;

}
footer .social {
	border-radius: 10px;
	/*flex*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	
}
footer .social >div{
	width: 120px;
	-webkit-transition: .4s;
	transition: .4s;
}
footer .social > div:hover{
	background: #ed984c;
}
footer .facebook{
	border-radius: 10px;
	margin-right: 10px;
	background: #3b5998;
	font-weight: bold;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	
}
footer .tw{
	border-radius: 10px;
	font-weight: bold;
	background: #00aced;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
footer .social a{
	color: #fff;
	text-decoration: none;
	padding: 10px;

}
footer .autor{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;

}
footer .autor p{
	text-decoration: none;
	color: #fff
}
footer .autor p:active{
	text-decoration: none;
	color: #fff
}


